
<h1>date-fns</h1>

<ul>
  <li>Tree-shakable;</li>
  <li>Immutable;</li>
  <li>SUporte a TypeScript;</li>

  <li>Sempre retorna um objeto Date do Javascript;</li>
  <li>Tem um lib separada para trabalhar com timezones usando helper functions;</li>
  <li>A lib extra é a date-fns-tz, que é mantido por um terceiro e internamente o Intl do Javascript;</li>
</ul>

<h1>Day.Js</h1>

<ul>
  <li>Muito leve, o que o faz ideal para projetos simples e que não usam build, não tem tree-shake;</li>
  <li>Ótimo suporte a navegadores antigos. Na dumentação diz que tem suporte até o IE 11;</li>
  <li>Sintaxe bem semelhante com o MomentJs, então migrar deve ser muito fácil.</li>
  <li>Suporte a TypeScript;</li>

  <li>Não é Tree-shakable;</li>
  <li>Construído em cima do objeto Date do Javascript;</li>
  <li>Além de ter que importar o plugin, precisa habilitalo;</li>
  <li>Ele é feito em cima de um sistema de plugins, que não é muito legal;</li>
</ul>

<h1>Luxon</h1>

<ul>
  <li>Immutable;</li>
  <li>Luxon tem suporte a Time Zones diretamente, sem precisar de código adicional. Internamente utiliza a API Intl do Javascript.</li>
  <li>Se precisar lidar com TimeZones, Luxon é a melhor opção;</li>
  <li>Não extende o objeto Date do Javascript, tem um um objeto Próprio, o DateTime;</li>

  <li>Não é Tree-shakable;</li>
  <li>Não é muito leve, date-fns tem um conjunto maior de funcionalidades.</li>
</ul>
